extends ../layout.pug
block breadcrumb  
    li
        a(href='#')
            em.fa.fa-home &nbsp;
    li Collaborateurs 
    li &nbsp; / &nbsp;
    li(class='active') Ajout d'un utilisateur

block content
    h1 Ajouter un utilisateur
    if error
        div.alert.danger #{error}
    form(role="form" method="post")
        .input-group.mb-3
            .input-group-prepend
                .input-group-text.d-none.d-lg-block 
                    i.fa.fa-envelope 
            input(type="email" class="form-control" placeholder="Email" name="email")     
 
        //- .input-group.mb-3
        //-     .input-group-prepend
        //-         .input-group-text.d-none.d-lg-block 
        //-             i.fa.fa-lock
        //-     input(type="password" class="form-control" placeholder="Mot de passe" name="password")
 
        hr
 
        .input-group.mb-3
            .input-group-prepend
                .input-group-text.d-none.d-lg-block 
                    i.fa.fa-restroom
            select(class="form-control" placeholder="Civilité" name="civility")
                option(value="1") Monsieur
                option(value="2") Madame
 
        .input-group.mb-3
            .input-group-prepend
                .input-group-text.d-none.d-lg-block
                    i.fa.fa-user
            input(type="text" class="form-control" placeholder="Nom" name="lastname")
 
        .input-group.mb-3
            .input-group-prepend
                .input-group-text.d-none.d-lg-block 
                    i.fa.fa-user
            input(type="text" class="form-control" placeholder="Prénom" name="firstname")
 
        .input-group.mb-3
            .input-group-prepend
                .input-group-text.d-none.d-lg-block
                    i.fa.fa-phone
            input(type="phone" class="form-control" placeholder="Téléphone" name="phone")

        .input-group.mb-3
            .input-group-prepend
                .input-group-text.d-none.d-lg-block 
                    i.fa.fa-lock
            input(type="text" class="form-control" placeholder="rôle" name="roles")
 
        .row.justify-content-center
            .col-2
                button.btn.btn-primary.center-block(type="submit")= (route.indexOf('/admin/user/edit') != -1  ? 'Modifier' : 'Enregistrer' ) 