extends ../layout.pug
 
block content
    h1 Connexion
    if error
        .alert.alert-danger= error
 
    form(action='/connexion' method="post")
        .input-group.mb-3
            span.input-group-prepend
                span.input-group-text.d-none.d-lg-block 
                    i.fa.fa-envelope 
            input(type="email" class="form-control" placeholder="Email" name="email" value=form.email)     
 
 
        .input-group.mb-3
            .input-group-prepend
                .input-group-text.d-none.d-lg-block 
                    i.fa.fa-lock
            input(type="password" class="form-control" placeholder="Mot de passe" name="password")
       
        .row.justify-content-center
            .col-2
                button.btn.btn-primary(type="submit") Se connecter