extends ../layout.pug
block breadcrumb  
    li
        a(href='#')
            em.fa.fa-tachometer-alt &nbsp;
    li(class='active') Dashboard
        
block content
    h2 Bienvenue sur le dashboard

    .row  
        .col-sm-3  
        .col-sm-10.mt-4
            .card
            .card.realty-card
              <img src="./images/maison6.jpg" class="card-img-top" alt="...">
    //- <div class="col-12">
    //-     <img src="./images/maison6.jpg" class="card-img-top" alt="...">
    //- </div>   
    